body {
    background-color: rgb(20, 18, 18);
}

q {
    font: 1.8rem/1.4 Georgia, serif;
}

.container {
    background-color: white;
    border-radius: 15px;
    max-width: 700px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.container h6 {
    margin-top: -25px
}

.thumbnail {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 5px 5px 25px 5px #4b4848;
}

.profile-pic {
    position: relative;
    bottom: 15px;
    display: inline;
}

.quote {
    margin: 5%;
}

.quote p {
    margin-top: -10px;
    margin-left: 225px;
}

.body-text {
    margin: 5%;
}

.points {
    text-align: left;
    margin-bottom: 30px;
}