html {
}

.container {
  border-radius: 25px;
  text-align: center;
  margin: 60px;
}

.logo {
  display: flex;
  margin: 20px;
}

.logo img {
  object-fit: contain;
}

.words {
  color: #201f1f;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

.words p {
  margin-top: -25px;
}

.divider {
  width: 100%;
  border: solid 1px #f2f2f2;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  margin: auto;
}

.book-list {
  display: grid;
  margin: 2em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.book-card {
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  color: #080808;
  padding: 2em;
  margin: 1em;
}

.fixed-button {
  background-color: #4483ca;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 60%;
}

.modal-content {
  margin: 30px;
}

.modal-content form {
  text-align: left;
}

#bname {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  margin: 5px 0px;
}

#bauthor {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  margin: 5px 0px;
}

#bdesc {
  border: none;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px;
}

#bpages {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  margin: 5px 0px;
}

#submit {
  float: right;
  margin: 15px 0px;
  margin-right: -10px;
  border: none;
  border-radius: 25px;
  background-color: #4483ca;
  color: #e0e0e0;
  width: 100px;
  height: 50px;
}
